<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            background: lightgray;
        }

        .sidebar {
            width: 280px;
            background-color: white;
            color: black;
            height: 100vh;
            padding: 20px;
        }

        .custom-bg {
            color: #000;
        }

        .form-container {
            background-color: white;
            padding: 20px;
        }

        .btn-green {
            background-color: #28a745; /* Зеленый цвет */
            color: white;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span th:text="${admin.username} + ' with roles: ' + ${admin.roles}" style="color: white;"></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto"></ul>
            <a class="nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<div class="d-flex mt-5">
    <div class="sidebar">
        <hr class="bg-white">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    Admin
                </a>
            </li>
            <li>
                <a href="/user" class="nav-link link-dark">
                    User
                </a>
            </li>
        </ul>
    </div>

    <div class="container custom-bg flex-grow-1 mt-5">
        <h2>Admin panel</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#users" data-bs-toggle="tab">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#newUser" data-bs-toggle="tab">New User</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="users">
                <table class="table table-striped caption-top">
                    <caption style="color: black;">All users</caption>
                    <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.roles}"></td>
                        <td>
                            <form method="GET" th:action="@{/admin/edit(id=${user.getId()})}" style="display:inline;">
                                <input type="hidden" name="id" th:value="${user.getId()}"/>
                                <button type="submit" class="btn btn-info">EDIT</button>
                            </form>
                            <form method="POST" th:action="@{/admin/delete(id=${user.getId()})}"
                                  style="display:inline;">
                                <button type="submit" class="btn btn-danger">DELETE</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="newUser">
                <div class="form-container">
                    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                        <h5>Add new User</h5>
                        <div class="mb-3" style="max-width: 400px; margin: 0 auto;">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" th:field="*{firstName}" id="firstName" class="form-control" required/>
                        </div>
                        <div class="mb-3" style="max-width: 400px; margin: 0 auto;">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" th:field="*{lastName}" id="lastName" class="form-control" required/>
                        </div>
                        <div class="mb-3" style="max-width: 400px; margin: 0 auto;">
                            <label for="age" class="form-label">Age</label>
                            <input type="number" th:field="*{age}" id="age" class="form-control" required/>
                        </div>
                        <div class="mb-3" style="max-width: 400px; margin: 0 auto;">
                            <label for="username" class="form-label">Email:</label>
                            <input type="text" th:field="*{username}" id="username" class="form-control" required/>
                        </div>
                        <div class="mb-3" style="max-width: 400px; margin: 0 auto;">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" th:field="*{password}" id="password" class="form-control" required/>
                        </div>
                        <div class="mb-3" style="max-width: 400px; margin: 0 auto;">
                            <label for="passwordConfirm" class="form-label">Confirm Password:</label>
                            <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm"
                                   class="form-control"
                                   required/>
                        </div>
                        <div class="mb-3" style="max-width: 400px; margin: 0 auto;">
                            <label for="roles" class="form-label">Roles:</label>
                            <select th:field="*{roles}" id="roles" class="form-select" multiple aria-label="multiple">
                                <option th:each="role : ${availableRoles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}"
                                        th:selected="${#lists.contains(user.roles, role)}">
                                </option>
                            </select>
                        </div>
                        <div class="text-center" style="margin: 0 auto;">
                            <button type="submit" class="btn btn-green btn-lg btn-block">Add new User</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>