<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="POST" th:action="@{/users/edit_ready(id=${user.getId()})}" th:object="${user}">
    <div>
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="age">Enter age</label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <input type="submit" value="Update"/>
    </div>
</form>
</body>
</html>