<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>

        <div>
            <label for="passwordConfirm">Confirm Password:</label>
            <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" required />
        </div>

        <input type="submit" value="Add User"/>
    </div>
</form>
</body>
</html>