<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <h2>Registration</h2>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{username}" required />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>

        <div>
            <label for="passwordConfirm">Confirm Password:</label>
            <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" required />
        </div>

        <div>
            <label for="firstName">Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" required />
        </div>

        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" th:field="*{age}" required min="1" />
        </div>




        <div>
            <button type="submit" value="register">Register</button>
        </div>
    </form>
    <div>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</div>
</body>
</html>